<div class="row">
    <div class="col-9">
        <div><b>{{ i['name'] }}</b></div>
        <div class="education-details">
            {% if 'branch' in i %} 
            <b>Branch:</b> {{ i['branch'] }}
            {% endif %}
        </div>
        <div class="education-details">
            {% if 'Honours' in i %} 
            <b>Honours:</b> {{ i['Honours'] }}
            {% endif %}
        </div>
    </div>
    <div class="col-3">
        <div class="education-details">
            {% if 'year' in i %}
            <b>Year:</b> {{ i['year'] }}
            {% endif %}
        </div>
        <div class="education-details">
            {% if 'mark' in i %}
            <b>Marks:</b> {{ i['mark'] }}
            {% endif %}
        </div>
        <div class="education-details">
            {% if 'university' in i %}
            <b>University:</b> {{ i['university'] }}
            {% endif %}
        </div>
    </div>
</div>
